@model IEnumerable<MetroTracker.Kafka.Consumer.M1ConsumerA>

@{
    var location = ViewData["Location"] as Location;
}

<h1>ConsumerA</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>A</th>
        <th>B</th>
        <th>C</th>
    <tr>
        <td>@location.Istasyon</td>
        <td>@location.Enlem</td>
        <td>@location.Boylam</td>
    </tr>
</table>
