@model string


<!DOCTYPE html>
<html>
<head>
    <title>Location Data</title>
</head>
<body>
    <h1>Location Data</h1>
    <div>
        @if (!string.IsNullOrEmpty(Model))
        {
            <p>Gelen Konum Verisi: @Model</p>
        }
        else
        {
            <p>Bekleniyor...</p>
        }
    </div>
</body>
</html>